{% extends 'layout.html.twig' %}

{% block stylesheet %}
{{parent()}}
<link rel="stylesheet" href="/assets/css/style_offre.css">
{% endblock %}

{% block content %}

<h1>Besoin d'aide ?</h1>
<div class="sk-container-form">
    <form class="sk-form" action="search" method="POST">
        <label for="categorie">Catégorie</label>
            <div class="uk-margin">
                <select for="categorie" class="uk-select" aria-label="Select" name="categorie">
                    <option >Veuillez Choisir</option>
                    {% for categorie in categories %}
                    <option>{{ categorie.description }}</option>
                    {% endfor %}
                </select>
            </div>
        <label for="zoneintervention">Zone d'intervention</label>
            <div class="uk-margin">
                <select for="zoneintervention" class="uk-select" aria-label="Select" name="area">
                <option>Veuillez Choisir</option>
                {% for area in areas %}
                <option>{{ area.area }} </option> 
                {% endfor %}
                </select>
            </div>
        <label for="disponibilites">Disponibilités</label>
            <div class="uk-margin">
                <select for="disponibilites" class="uk-select" aria-label="Select" name="disponibilites">
                    <option>Veuillez Choisir</option>
                    {% for availability in availabilities %}
                    <option>{{ availability.availability }}</option>
                    {% endfor %}
                </select>
            </div>
        <button class="uk-button uk-button-default uk-margin">Valider</button>
    </form>
    <div>
        <img class="sk-img" src="assets/images/pictureoffre.png" alt="image terre portée par des mains">
        <p class="sk-text">Nous vous aidons à aider les autres.<br>
         Échangez vos compétences avec votre voisinage grâce à notre association !</p>
    </div>
</div>

    <div class="uk-margin uk-visible@m" >
        <div class="sk-container">
            {% for offre in offres %}
            <div class="uk-card">
                <div class="uk-card-header">
                    <h2 class="uk-margin-remove-top">{{ offre.title }}</h2> 
                     {% for noteAverage in notesAverage %}
                       {% if offre.id == noteAverage.offre_id %}
                        <p >Avis : {{ noteAverage.moyenne }}<em>/5</em></p>
                       {% endif %} 
                    {% endfor %}
                </div>
                <div class="sk-header uk-card-header">
                    <p>{{ offre.description }}</p>
                </div>
                <div class="sk-header uk-card-header">
                    <p>{{ offre.availability }}</p>
                </div>
                <div class="sk-header uk-card-header">
                    <p>{{ offre.area }}</p>
                </div>
                <div class="uk-card-footer">
                <a class="sk-note" href="#" uk-icon="icon:mail"></a>
                    <p class="uk-margin-remove-bottom">Note</p>
                        <div class="sk-star">
                            <a class="sk-note" href="note?note=1&offre_id={{ offre.id }}" title= "1/5" uk-icon="icon:star"></a>
                            <a class="sk-note" href="note?note=2&offre_id={{ offre.id }}" title= "2/5" uk-icon="icon:star"></a>
                            <a class="sk-note" href="note?note=3&offre_id={{ offre.id }}" title= "3/5" uk-icon="icon:star"></a>
                            <a class="sk-note" href="note?note=4&offre_id={{ offre.id }}" title= "4/5" uk-icon="icon:star"></a>
                            <a class="sk-note" href="note?note=5&offre_id={{ offre.id }}" title= "5/5" uk-icon="icon:star"></a>
                        </div>
                </div>
            </div>

            {% endfor %}
        </div>     
    </div>
    
    <div class="sk-card uk-margin uk-hidden@m" uk-slideshow>
        <div class="sk-container uk-slideshow-items">
        {% for offre in offres %}
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h2 class="uk-margin-remove-bottom">{{ offre.title }}</h2>
                    {% for noteAverage in notesAverage %}
                       {% if offre.id == noteAverage.offre_id %}
                        <p class="uk-margin-remove-top">Avis : {{ noteAverage.moyenne }}<em>/5</em></p>
                       {% endif %} 
                    {% endfor %}
                </div>
                <div class="uk-card-body">
                    <p>{{ offre.description }}</p>
                </div>
                <div class="uk-card-footer">
                    <p class="uk-margin-remove-bottom uk-margin-remove-top">Note</p>
                    <a class="sk-note" href="note?note=1&offre_id={{ offre.id }}" title= "1/5" uk-icon="star"></a>
                    <a class="sk-note" href="note?note=2&offre_id={{ offre.id }}" title= "2/5" uk-icon="star"></a>
                    <a class="sk-note" href="note?note=3&offre_id={{ offre.id }}" title= "3/5" uk-icon="star"></a>
                    <a class="sk-note" href="note?note=4&offre_id={{ offre.id }}" title= "4/5" uk-icon="star"></a>
                    <a class="sk-note" href="note?note=5&offre_id={{ offre.id }}" title= "5/5" uk-icon="star"></a>
                </div>
                <a class="uk-position-center-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}



